<ul id="post-list" class="archive readmore">
    <h3>{{ .Site.Params.readMore | default "Read more" }}</h3>

    {{ $kind := where .Site.RegularPages "Section" "!=" "" }}
    {{ $othr := where $kind "URL" "!=" .URL }}
    {{ range first 10 $othr }}
        <li>
            <a href='{{ .URL }}'><aside class="dates">{{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</aside></a>
            <a href='{{ .URL }}'>{{ .LinkTitle }}</a>
        </li>
    {{ end }}
</ul>
